@import "variables";

.container {
  margin-bottom: 15px;
  display: flex;
  gap: 14px;
  width: 50%;
  @include devices(tablet) {
    width: 100%;
  }
}
.imageWrapper {
  cursor: pointer;
  > img {
    border-radius: 15px;
  }
}
.textWrapper {
  h2 {
    margin:0;
    cursor: pointer;
  }
  h3 {
    font-weight: 400;
    margin-top: 4px;
    margin-bottom: 1px;
  }
  h3:last-child {
    margin:0;
    font-weight: 300;
    font-style: italic;
    color: $gray-900
  }
}
